# Flask
FLASK_APP=Feelog.py
SECRET_KEY=your_secret_key_here

# Database
DATABASE_URL=sqlite:///app.db

# Elasticsearch
ELASTICSEARCH_URL=http://elasticsearch:9200

# Mail Config
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USERNAME=your_email@example.com
MAIL_PASSWORD=your_app_password
ADMINS=your_email@example.com
